In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("A.Efes 20-21 Euroleague.csv")
df

,Player,Club,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Turnovers,Blocks
0,Shane Larkin,Anadolu Efes,0,Guard,USA,28,182,35,1003,528,81,144,43,74,3
1,Rodrigue Beaubois,Anadolu Efes,1,Guard,France,32,190,38,814,401,69,68,20,44,13
2,Chris Singleton,Anadolu Efes,2,Forward,USA,31,206,41,904,249,155,26,30,24,21
3,Yigitcan Saybir,Anadolu Efes,3,Forward,Turkey,21,203,2,5,2,1,0,0,0,0
4,Dogus Balbay,Anadolu Efes,4,Guard,Turkey,31,185,29,195,41,18,16,13,9,4
5,Tolga Gecim,Anadolu Efes,8,Forward,Turkey,24,206,6,33,4,5,2,0,4,0
6,Erten Gazi,Anadolu Efes,11,Guard,Turkey,23,190,9,50,14,6,5,2,0,0
7,Dzanan Musa,Anadolu Efes,13,Forward,Bosnia&Herzegovina,21,206,4,12,0,2,1,1,2,0
8,Sertac Sanli,Anadolu Efes,15,Center,Turkey,29,212,34,484,266,75,22,13,20,17
9,Adrien Moerman,Anadolu Efes,18,Forward,France,32,202,41,841,263,189,45,24,39,6
10,Bugrahan Tuncer,Anadolu Efes,19,Guard,Turkey,27,193,16,91,36,18,18,4,7,0
11,Tibor Pleiss,Anadolu Efes,21,Center,Germany,31,221,24,289,163,64,12,5,18,7
12,Vasilije Micic,Anadolu Efes,22,Guard,Serbia,26,196,40,1200,668,104,195,48,123,1
13,James Anderson,Anadolu Efes,23,Forward,USA,31,198,41,622,172,113,31,18,16,6
14,Bryant Dunston,Anadolu Efes,42,Center,USA,34,203,36,758,284,142,37,32,22,31
15,Krunoslav Simon,Anadolu Efes,44,Guard,Croatia,35,197,35,932,362,108,114,19,41,10

In [4]:
df["Position"] == "Forward"

0     False
1     False
2      True
3      True
4     False
5      True
6     False
7      True
8     False
9      True
10    False
11    False
12    False
13     True
14    False
15    False
Name: Position, dtype: bool

In [5]:
df[df["Position"] == "Forward"]
# df.loc[df["Position"] == "Forward"]

,Player,Club,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Turnovers,Blocks
2,Chris Singleton,Anadolu Efes,2,Forward,USA,31,206,41,904,249,155,26,30,24,21
3,Yigitcan Saybir,Anadolu Efes,3,Forward,Turkey,21,203,2,5,2,1,0,0,0,0
5,Tolga Gecim,Anadolu Efes,8,Forward,Turkey,24,206,6,33,4,5,2,0,4,0
7,Dzanan Musa,Anadolu Efes,13,Forward,Bosnia&Herzegovina,21,206,4,12,0,2,1,1,2,0
9,Adrien Moerman,Anadolu Efes,18,Forward,France,32,202,41,841,263,189,45,24,39,6
13,James Anderson,Anadolu Efes,23,Forward,USA,31,198,41,622,172,113,31,18,16,6

In [8]:
filt = (df["Country"] == "USA")
df[filt]

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
0,Shane Larkin,0,Guard,USA,29,182,35,1003,528,81,144,43,3
2,Chris Singleton,2,Forward,USA,32,206,41,904,249,155,26,30,21
13,James Anderson,23,Forward,USA,32,198,41,622,172,113,31,18,6
14,Bryant Dunston,42,Center,USA,35,203,36,758,284,142,37,32,31

In [9]:
df[df["Country"].isin(["Croatia", "France"])]

,Player,Club,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Turnovers,Blocks
1,Rodrigue Beaubois,Anadolu Efes,1,Guard,France,32,190,38,814,401,69,68,20,44,13
9,Adrien Moerman,Anadolu Efes,18,Forward,France,32,202,41,841,263,189,45,24,39,6
15,Krunoslav Simon,Anadolu Efes,44,Guard,Croatia,35,197,35,932,362,108,114,19,41,10

In [6]:
df[df["Country"] == "USA"][["Player","Position"]]

             Player Position
0      Shane Larkin    Guard
2   Chris Singleton  Forward
13   James Anderson  Forward
14   Bryant Dunston   Center

In [3]:
df.loc[df["Country"] == "USA", ["Player","Position"]]

             Player Position
0      Shane Larkin    Guard
2   Chris Singleton  Forward
13   James Anderson  Forward
14   Bryant Dunston   Center

In [4]:
df[df["Country"] == "Croatia"]["Player"]

15    Krunoslav Simon
Name: Player, dtype: object

In [7]:
df[df["Country"] == "USA"].iloc[2:5, :]

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
13,James Anderson,23,Forward,USA,32,198,41,622,172,113,31,18,6
14,Bryant Dunston,42,Center,USA,35,203,36,758,284,142,37,32,31

In [11]:
df[df["Country"] == "USA"][0:3]

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
0,Shane Larkin,0,Guard,USA,29,182,35,1003,528,81,144,43,3
2,Chris Singleton,2,Forward,USA,32,206,41,904,249,155,26,30,21
13,James Anderson,23,Forward,USA,32,198,41,622,172,113,31,18,6

In [16]:
df.loc[filt, "Player":"Country"]

             Player  Number Position Country
0      Shane Larkin       0    Guard     USA
2   Chris Singleton       2  Forward     USA
13   James Anderson      23  Forward     USA
14   Bryant Dunston      42   Center     USA

In [19]:
filt = (df["Country"] == "USA") & (df["Height"] > 200)
df.loc[filt, ["Player", "Position", "Height"]]

             Player Position  Height
2   Chris Singleton  Forward     206
14   Bryant Dunston   Center     203

In [24]:
df[(df["Points"] > 300) | (df["Rebounds"] > 100)]  
# When there is more than one condition, you should use the parentheses in square brackets.

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
0,Shane Larkin,0,Guard,USA,29,182,35,1003,528,81,144,43,3
1,Rodrigue Beaubois,1,Guard,France,33,190,38,814,401,69,68,20,13
2,Chris Singleton,2,Forward,USA,32,206,41,904,249,155,26,30,21
9,Adrien Moerman,18,Forward,France,33,202,41,841,263,189,45,24,6
12,Vasilije Micic,22,Guard,Serbia,27,196,40,1200,668,104,195,48,1
13,James Anderson,23,Forward,USA,32,198,41,622,172,113,31,18,6
14,Bryant Dunston,42,Center,USA,35,203,36,758,284,142,37,32,31
15,Krunoslav Simon,44,Guard,Croatia,36,197,35,932,362,108,114,19,10

In [30]:
df[(df["Points"] > 300) | (df["Rebounds"] > 100) & (df["Assists"] > 40)]

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
0,Shane Larkin,0,Guard,USA,29,182,35,1003,528,81,144,43,3
1,Rodrigue Beaubois,1,Guard,France,33,190,38,814,401,69,68,20,13
9,Adrien Moerman,18,Forward,France,33,202,41,841,263,189,45,24,6
12,Vasilije Micic,22,Guard,Serbia,27,196,40,1200,668,104,195,48,1
15,Krunoslav Simon,44,Guard,Croatia,36,197,35,932,362,108,114,19,10

In [34]:
filt = (df["Position"] == "Guard") & (df["Height"] > 190)
df.loc[filt, "Player":"Height"]

             Player  Number Position  Country  Age  Height
10  Bugrahan Tuncer      19    Guard   Turkey   28     193
12   Vasilije Micic      22    Guard   Serbia   27     196
15  Krunoslav Simon      44    Guard  Croatia   36     197

In [35]:
filt = (df["Position"] == "Guard") & (df["Height"] > 190)
df.loc[~filt, "Player":"Height"]  # we called opposite ones

               Player  Number Position             Country  Age  Height
0        Shane Larkin       0    Guard                 USA   29     182
1   Rodrigue Beaubois       1    Guard              France   33     190
2     Chris Singleton       2  Forward                 USA   32     206
3     Yigitcan Saybir       3  Forward              Turkey   22     203
4        Dogus Balbay       4    Guard              Turkey   32     185
5         Tolga Gecim       8  Forward              Turkey   25     206
6          Erten Gazi      11    Guard              Turkey   24     190
7         Dzanan Musa      13  Forward  Bosnia&Herzegovina   22     206
8        Sertac Sanli      15   Center              Turkey   30     212
9      Adrien Moerman      18  Forward              France   33     202
11       Tibor Pleiss      21   Center             Germany   32     221
13     James Anderson      23  Forward                 USA   32     198
14     Bryant Dunston      42   Center                 USA   35     203

In [11]:
df["Games"].loc[df["Country"] == "Turkey"].mean()

16.0

## <b> contains ()

<i> Test if pattern or regex is contained within a string of a Series or Index.

<i> Return boolean Series or Index based on whether a given pattern or regex is contained within a string of a Series or Index.

In [36]:
df

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
0,Shane Larkin,0,Guard,USA,29,182,35,1003,528,81,144,43,3
1,Rodrigue Beaubois,1,Guard,France,33,190,38,814,401,69,68,20,13
2,Chris Singleton,2,Forward,USA,32,206,41,904,249,155,26,30,21
3,Yigitcan Saybir,3,Forward,Turkey,22,203,2,5,2,1,0,0,0
4,Dogus Balbay,4,Guard,Turkey,32,185,29,195,41,18,16,13,9
5,Tolga Gecim,8,Forward,Turkey,25,206,6,33,4,5,2,0,0
6,Erten Gazi,11,Guard,Turkey,24,190,9,50,14,6,5,2,0
7,Dzanan Musa,13,Forward,Bosnia&Herzegovina,22,206,4,12,0,2,1,1,0
8,Sertac Sanli,15,Center,Turkey,30,212,34,484,266,75,22,13,17
9,Adrien Moerman,18,Forward,France,33,202,41,841,263,189,45,24,6
10,Bugrahan Tuncer,19,Guard,Turkey,28,193,16,91,36,18,18,4,0
11,Tibor Pleiss,21,Center,Germany,32,221,24,289,163,64,12,5,7
12,Vasilije Micic,22,Guard,Serbia,27,196,40,1200,668,104,195,48,1
13,James Anderson,23,Forward,USA,32,198,41,622,172,113,31,18,6
14,Bryant Dunston,42,Center,USA,35,203,36,758,284,142,37,32,31
15,Krunoslav Simon,44,Guard,Croatia,36,197,35,932,362,108,114,19,10

In [7]:
df[df["Position"] == "Forward"]['Country'].value_counts()

USA                   2
Turkey                2
Bosnia&Herzegovina    1
France                1
Name: Country, dtype: int64

In [8]:
filt = df['Position'] == 'Forward'
df.loc[filt]['Country'].str.contains('Turkey').sum()

2

In [44]:
filt = df['Country'].str.contains('s', na=False)
filt
# when we have null values in our dataset; if we don't use "na", we get error; 
# with "na=False" we also get the "na" objects

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: Country, dtype: bool

In [52]:
df[filt]

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
7,Dzanan Musa,13,Forward,Bosnia&Herzegovina,22,206,4,12,0,2,1,1,0

In [54]:
df.loc[df["Country"].str.contains('s', case=False), "Player":"Blocks"]  # If True, case sensitive.

# using slicing gives error without loc

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
0,Shane Larkin,0,Guard,USA,29,182,35,1003,528,81,144,43,3
2,Chris Singleton,2,Forward,USA,32,206,41,904,249,155,26,30,21
7,Dzanan Musa,13,Forward,Bosnia&Herzegovina,22,206,4,12,0,2,1,1,0
12,Vasilije Micic,22,Guard,Serbia,27,196,40,1200,668,104,195,48,1
13,James Anderson,23,Forward,USA,32,198,41,622,172,113,31,18,6
14,Bryant Dunston,42,Center,USA,35,203,36,758,284,142,37,32,31

## <b> isin(values)

<i> Whether each element in the DataFrame is contained in values.

In [38]:
countries = ["Croatia", "Letonia", "Italy", "Turkey"]

filt = df["Country"].isin(countries)  # only list-like objects are allowed to be passed to isin()

df.loc[filt]

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
3,Yigitcan Saybir,3,Forward,Turkey,22,203,2,5,2,1,0,0,0
4,Dogus Balbay,4,Guard,Turkey,32,185,29,195,41,18,16,13,9
5,Tolga Gecim,8,Forward,Turkey,25,206,6,33,4,5,2,0,0
6,Erten Gazi,11,Guard,Turkey,24,190,9,50,14,6,5,2,0
8,Sertac Sanli,15,Center,Turkey,30,212,34,484,266,75,22,13,17
10,Bugrahan Tuncer,19,Guard,Turkey,28,193,16,91,36,18,18,4,0
15,Krunoslav Simon,44,Guard,Croatia,36,197,35,932,362,108,114,19,10

In [58]:
df[df["Position"].isin(["Center"])]

,Player,Number,Position,Country,Age,Height,Games,Minutes,Points,Rebounds,Assists,Steals,Blocks
8,Sertac Sanli,15,Center,Turkey,30,212,34,484,266,75,22,13,17
11,Tibor Pleiss,21,Center,Germany,32,221,24,289,163,64,12,5,7
14,Bryant Dunston,42,Center,USA,35,203,36,758,284,142,37,32,31

In [5]:
df["Points"].loc[df["Position"].isin(["Center"])].mean()

237.66666666666666

In [69]:
32 in df.values

True

In [71]:
for i in df["Points"]:
    if i > 300:
        print(i)

528
401
668
362